<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OSS AS</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <nav aria-label="Hovedmeny">
      <ul class="navlinks">
        <li><a href="/">Heim</a></li>
        <li><a href="/login">Logg inn</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="container">
      <h1>Velkommen til Min Filmdatabase </h1>
      <p>Denne databasen kan hjelpe deg å holde orden på dine favorittfilmer.</p>
      <form action="/login" method="get">
        <button class="save-btn" type="submit">Logg inn</button>
      </form>
    </div>
  </main>
</body>

</html>
